@model RusTarihi.Models.Members
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SifremiUnuttum - Admin</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/AdminContent/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/AdminContent/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/AdminContent/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminContent/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/AdminContent/css/style.css" rel="stylesheet">
    @*<link href="~/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />*@
</head>
<body>
    @*<p class="alert alert-info">
            @ViewBag.MyError
        </p>*@

    @*@using (Html.BeginForm("SifremiUnuttum","Admin",FormMethod.Post,new { entype="multipart/form-data"}))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal container">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Eposta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input class="form-control" name="eposta" required placeholder="Eposta adresini giriniz" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Şifremi Mail Olarak Gönder" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }*@

    <form action="/Members/ForgotPassword/" method="post">
        <div class="form-horizontal container">
            <hr />
            <div class="form-group">
                <div class="col-md-10">
                    <input type="email" class="form-control" name="Email" required placeholder="E posta adresiniz" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Şifremi Mail Olarak Gönder" class="btn btn-default" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="/Home/Index/">Ana Sayfa</a>
                </div>
            </div>

        </div>
    </form>
</body>
</html>
