@model RusTarihi.Models.Account.ProfilVM
@{
    ViewBag.Title = $"{Model.Members.Name} {Model.Members.Surname}";
    Layout = null;

    var currentUser = (RusTarihi.Models.Members)Session["memberid"];
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profil Paneli</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/AdminContent/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/Content/AdminContent/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/Content/AdminContent/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/AdminContent/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/Content/AdminContent/css/style.css" rel="stylesheet">
    <link href="~/Content/AdminContent/css/style-responsive.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form class="login-form" method="post" action="#">
            <div class="login-wrap">

                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="Email" placeholder="E Posta" autofocus required>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" name="Password" class="form-control" placeholder="Şifre" required>
                </div>
                @*<label class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                    <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
                </label>*@
                <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>
                <a href="/Members/ForgotPassword" class="btn btn-primary btn-lg btn-block">Şifremi Unuttum</a>
            </div>
        </form>
    </div>
</body>
</html>
