@model RusTarihi.Models.Rols

@{
    ViewBag.Title = $"{Model.Name}";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <h1 class="text-center"><b>@ViewBag.Title</b></h1>

    <div class="row text-center">
        <p>
            <b>@Model.Name</b> adlı rolü silmek istediğine emin misin?
        </p>
    </div>
    <div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center">
                <input type="submit" value="Sil" class="btn btn-warning" /> |
                @Html.ActionLink("İptal", "RolList", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>